ul {
    padding-left: 1rem;
}

li.triangle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: var(--text-sm);
    letter-spacing: -0.02px;
    line-height: 1.8rem;
    font-weight: 600;
}
li.triangle::before{
        content: "";
        border-color: transparent #f69139;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.7em;
        position: relative;
    }

//   li.triangle p {
//     display: inline-block;
//     font-weight: 400;
//     line-height: 1.5rem;
//     padding: 0 0 8px 16px;
//     margin: 0;
//     opacity: 0.8;
//   }
