.container {
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($devices, xl);
  position: relative;
  width: 100%;
  &::after {
    clear: both;
    content: '';
    display: table;
  }
  @media ($max-xl){
    padding: 0 2rem;
  }
  &--sm{
    max-width: 1056px;
  }
  &--xs{
    max-width: 600px;
  }
}

