
.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main,
    section {
        overflow: hidden;
    }

    > .main,
    > .layout-default,
    > .layout-docs {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

