:root {
    --leap-white: #fff;
    --leap-primary: #0060a9;
    --leap-primary-darker: #1E365E;
    --leap-navy: #1E365E;
    --leap-primary-lighter: #2AB7FD;
    --leap-secondary: #f79239;
    --leap-secondary-darker: #f68520;
    --leap-secondary-lighter: #ffefe2;
    --leap-grey: #9c9c9c;
    --leap-grey-lighter: #f6f8f9;
    --leap-grey-dark: #303030;
    --leap-grey-darker: #2a2a2a;
    --border-color: #d4d4d4;
    --border-light-color: #e5e5e5;
    --text-default: #1E1E1E;
    --text-default-lighter: #1E1E1Edd;
    --leap-success: #419044;
    --leap-warning: #f79239;
    --leap-danger: #bf2525;
    --text-light: #ffffff;
    --spacer-xs: 0.25rem;
    --spacer-sm: 0.5rem;
    --spacer-md: 1rem;
    --spacer-lg: 1.5rem;
    --spacer-xl: 2rem;
    --spacer-xxl: 4rem;
    --text-xs: 0.750rem;
    --text-sm: 0.875rem;
    --text-p: 1rem;
    --text-h5: 1.125rem;
    --text-h4: 1.25rem;
    --text-h3: 1.625rem;
    --text-h2: 1.85rem;
    --text-h1: 2rem;
}